body {
    background-color: rgb(255, 254, 249);
}
header {
    background-color: rgb(232, 230, 219);
    width: 1200px;
    margin: auto;
}
.menu li {
    display: inline-block;
    list-style: none;
    
}